.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: $color-primary;
  border: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  align-self: flex-start;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;

  &:hover {
    background-color: $color-primary-light;
  }
}
