@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype"); }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Inter', sans-serif; }

.page__body--hidden {
  overflow: hidden; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

p {
  margin: 0; }

h1,
h2,
h3,
h4,
ul,
li {
  margin: 0; }

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease; }

.overlay.active {
  opacity: 1;
  visibility: visible; }

.page__body {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box; }

.page__body--pets {
  grid-template-rows: auto 1fr auto; }

.main--pets {
  background-color: #f6f6f6; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 1000px) {
    .wrapper {
      max-width: 768px;
      padding-left: 30px;
      padding-right: 30px;
      overflow-x: hidden; } }
  @media (max-width: 500px) {
    .wrapper {
      max-width: 500px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 380px) {
    .wrapper {
      max-width: 320px; } }

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 15px 45px;
  background-color: #f1cdb3;
  border: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  align-self: flex-start;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out; }
  .btn:hover {
    background-color: #fddcc4; }

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1280px;
  z-index: 0; }
  @media (max-width: 767px) {
    .header {
      overflow: hidden;
      height: 100vh; } }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
  width: 100vw; }

.header__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer; }

.header__logo-title {
  color: #f1cdb3;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em; }

.header__logo-text {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif; }

.header__nav-list {
  display: flex;
  list-style-type: none;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden; }
  @media (max-width: 767px) {
    .header__nav-list {
      position: absolute;
      background-color: #292929;
      width: 320px;
      height: 100vh;
      z-index: 2;
      top: 0;
      left: 100%;
      padding: 0;
      flex-direction: column;
      align-items: center;
      padding-top: 248px;
      gap: 42px;
      justify-content: start;
      flex-wrap: nowrap;
      transition: all 0.5s ease; } }
  .header__nav-list.active {
    display: flex;
    right: 0;
    left: calc(100% - 320px); }

.header__nav-item {
  color: #cdcdcd; }
  .header__nav-item :hover {
    color: #fafafa; }

.header__nav-item--active {
  color: #fafafa; }

.header__nav-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  position: relative; }
  .header__nav-link:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #f1cdb3;
    transition-property: width, opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    opacity: 0; }
    @media (max-width: 767px) {
      .header__nav-link:after {
        bottom: -10px; } }
  .header__nav-link:hover:after, .header__nav-link:focus:after {
    opacity: 1;
    width: 100%;
    left: 50%; }
  @media (max-width: 767px) {
    .header__nav-link {
      font-weight: 400;
      font-size: 32px;
      line-height: 160%; } }

.header__nav-link--active {
  cursor: auto; }
  .header__nav-link--active::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #f1cdb3;
    opacity: 1; }
    @media (max-width: 767px) {
      .header__nav-link--active::before {
        bottom: -10px; } }

@media (max-width: 767px) {
  .header__nav-list--pets {
    background-color: #f6f6f6; } }

.header__wrapper--pets {
  padding-bottom: 30px; }

.header__logo-title--pets {
  color: #545454; }

.header__logo-text--pets {
  color: #292929; }

.header__nav-item--pets {
  color: #545454; }
  .header__nav-item--pets :visited {
    color: #545454; }
  .header__nav-item--pets :hover {
    color: #292929; }

.header__burger {
  display: none;
  z-index: 3; }
  @media (max-width: 767px) {
    .header__burger {
      display: flex;
      flex-direction: column;
      gap: 8px;
      cursor: pointer; } }

.header__burger-line {
  display: block;
  position: relative;
  height: 2px;
  width: 30px;
  background-color: #f1cdb3;
  transition: all 0.4s ease;
  transition-delay: 0;
  will-change: transform; }

.header__burger-line--catalog {
  background-color: #000; }

.header__burger.active .header__burger-line--one {
  transform: rotate(90deg) translateX(40%) translateY(-10px); }

.header__burger.active .header__burger-line--two {
  transform: rotate(90deg) translateX(7%) translateY(0px); }

.header__burger.active .header__burger-line--three {
  transform: rotate(90deg) translateX(-26%) translateY(10px); }

.footer {
  background: radial-gradient(circle, #5b483a, #262425), url(../../assets/img/noise_transparent.png);
  background-blend-mode: multiply; }

.footer__wrapper {
  padding: 40px 40px 0 40px;
  display: grid;
  grid-template-columns: 0.9fr 1fr auto;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 155px;
  grid-row-gap: 30px;
  align-items: start;
  margin: 0 auto; }
  @media (max-width: 1000px) {
    .footer__wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 36px 15px;
      margin-left: 25px;
      padding-top: 30px;
      margin-right: 5px;
      margin: 0 auto; } }
  @media (max-width: 800px) {
    .footer__wrapper {
      margin-left: 25px;
      margin-right: 5px; } }
  @media (max-width: 500px) {
    .footer__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, auto);
      margin: 0;
      gap: 36px 10px;
      padding-left: 12px;
      padding-right: 12px;
      gap: 39px 15px;
      margin: 0 auto; } }

.footer__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #f6f6f6;
  padding-top: 20px; }
  @media (max-width: 1000px) {
    .footer__title {
      padding-top: 0; } }
  @media (max-width: 500px) {
    .footer__title {
      font-size: 25px;
      text-align: center;
      padding-left: 25px;
      padding-right: 25px; } }

.footer__info-block {
  display: flex;
  flex-direction: column;
  gap: 40px; }

.footer__info-block-container {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  transition: all 0.35s ease-in; }
  .footer__info-block-container:hover .footer__info-block-text {
    color: #ffffff; }
  @media (max-width: 500px) {
    .footer__info-block-container {
      justify-content: flex-start;
      gap: 30px; } }

.footer__info-block-text--link {
  color: #f1cdb3;
  transition: color 0.35s ease-in; }
  .footer__info-block-text--link:hover {
    color: #ffffff; }

.footer__info-block-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  transition: all 0.35s ease-in; }

.footer__img {
  grid-area: 1 / 3 / 4 / 4;
  max-height: min-content;
  max-width: 100%;
  object-fit: contain;
  align-self: end; }
  @media (max-width: 1000px) {
    .footer__img {
      order: 2;
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      justify-self: center;
      padding-top: 25px;
      position: relative;
      right: 10px; } }
  @media (max-width: 500px) {
    .footer__img {
      grid-area: 7 / 1 / 8 / 2;
      padding: 0;
      width: 80vw;
      position: static; } }

.footer__contacts--title {
  grid-area: 1 / 1 / 2 / 2; }
  @media (max-width: 1000px) {
    .footer__contacts--title {
      padding-right: 15px; } }
  @media (max-width: 500px) {
    .footer__contacts--title {
      padding-right: 15px;
      padding: 0; } }

.footer__contacts--email {
  grid-area: 2 / 1 / 2 / 2; }
  @media (max-width: 500px) {
    .footer__contacts--email {
      grid-area: 2 / 1 / 3 / 2;
      padding-left: 23px;
      padding-right: 23px;
      gap: 20px; } }

.footer__contacts--phone {
  grid-area: 3 / 1 / 4 / 2; }
  @media (max-width: 500px) {
    .footer__contacts--phone {
      grid-area: 3 / 1 / 4 / 2;
      padding-left: 23px;
      padding-right: 23px;
      gap: 20px; } }

.footer__address-title {
  grid-area: 1 / 2 / 2 / 3; }
  @media (max-width: 500px) {
    .footer__address-title {
      grid-area: 4 / 1 / 5 / 2; } }

.footer__address-text-one {
  grid-area: 2 / 2 / 3 / 3; }
  @media (max-width: 500px) {
    .footer__address-text-one {
      grid-area: 5 / 1 / 6 / 2;
      gap: 20px; } }

.footer__address-text-two {
  grid-area: 3 / 2 / 4 / 3; }
  @media (max-width: 500px) {
    .footer__address-text-two {
      grid-area: 6 / 1 / 7 / 2;
      gap: 20px; } }

.startscreen {
  background: radial-gradient(circle, #5b483a, #262425), url(../../assets/img/noise_transparent.png);
  background-blend-mode: multiply; }

.startscreen__wrapper {
  background: url(../../assets/img/puppy.png) no-repeat;
  background-position: calc(100% - 40px) bottom; }
  @media (max-width: 1000px) {
    .startscreen__wrapper {
      background-position: calc(100% - 30px) bottom;
      background-size: 570px 590px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 650px) {
    .startscreen__wrapper {
      background-position: calc(0% - 0px) bottom;
      background-size: 570px 590px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 500px) {
    .startscreen__wrapper {
      background-position: calc(100% - 10px) bottom;
      background-size: 260px 270px; } }

.startscreen__make {
  display: flex;
  gap: 42px;
  flex-direction: column;
  padding-top: 343px;
  padding-bottom: 243px;
  width: 39%; }
  @media (max-width: 1000px) {
    .startscreen__make {
      margin: 0 auto;
      padding-top: 150px;
      padding-left: 145px;
      width: 100%;
      padding-bottom: 693px; } }
  @media (max-width: 650px) {
    .startscreen__make {
      width: 80%;
      padding-bottom: 693px;
      padding-left: 0;
      align-items: center; } }
  @media (max-width: 550px) {
    .startscreen__make {
      width: 67%;
      padding-bottom: 693px;
      padding-left: 0; } }
  @media (max-width: 500px) {
    .startscreen__make {
      width: 100%;
      padding-bottom: 693px;
      padding-left: 0;
      gap: 42px;
      padding-bottom: 375px; } }

.startscreen__make-title {
  font-size: 44px;
  color: #ffffff;
  font-weight: 400;
  line-height: 130%; }
  @media (max-width: 500px) {
    .startscreen__make-title {
      font-size: 25px;
      line-height: 130%;
      letter-spacing: 0.06em;
      text-align: center; } }

.startscreen__make-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: #cdcdcd;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 500px) {
    .startscreen__make-text {
      font-size: 15px;
      line-height: 160%;
      text-align: center; } }

@media (max-width: 1000px) {
  .startscreen__btn {
    margin-left: 125px; } }
  @media (max-width: 1000px) and (max-width: 500px) {
    .startscreen__btn {
      margin: 0;
      align-self: center; } }

@media (max-width: 500px) {
  .startscreen__make-text--br {
    display: none; } }

.about__wrapper {
  padding: 85px 215px 105px;
  display: flex;
  gap: 120px; }
  @media (max-width: 1000px) {
    .about__wrapper {
      padding: 70px 170px 100px;
      flex-direction: column;
      gap: 80px;
      max-width: 100vw;
      margin: 0; } }
  @media (max-width: 500px) {
    .about__wrapper {
      padding: 30px 25px 0px;
      gap: 45px; } }

.about__img {
  height: auto;
  object-fit: contain;
  width: 100%;
  height: auto; }

.about__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; }
  @media (max-width: 1000px) {
    .about__img-container {
      order: 1;
      width: 70%;
      align-self: center; } }
  @media (max-width: 500px) {
    .about__img-container {
      width: 95%; } }

.about__info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 10px; }

.about__info-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454; }
  @media (max-width: 500px) {
    .about__info-title {
      text-align: center;
      font-size: 25px;
      text-align: center; } }

.about__info-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 500px) {
    .about__info-text {
      text-align: justify; } }

.pets {
  background-color: #f6f6f6;
  padding-top: 70px;
  padding-bottom: 100px; }
  @media (max-width: 500px) {
    .pets {
      padding-bottom: 40px; } }

.pets__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center; }
  @media (max-width: 1050px) {
    .pets__wrapper {
      padding-top: 10px;
      max-width: 768px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 500px) {
    .pets__wrapper {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      gap: 40px; } }

.pets__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4c4c4c;
  text-align: center;
  padding: 0; }
  @media (max-width: 500px) {
    .pets__title {
      font-size: 25px; } }

.pets__btn {
  align-self: center; }

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  @media (max-width: 500px) {
    .slider {
      position: relative;
      justify-content: center; } }

.slider__arrow {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  border: 2px solid #f1cdb3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer; }
  .slider__arrow:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4; }
  .slider__arrow:active {
    background-color: #f1cdb3; }
  @media (max-width: 500px) {
    .slider__arrow {
      position: absolute;
      bottom: 4px; } }

@media (max-width: 500px) {
  .slider__arrow--right {
    right: 60px; } }

@media (max-width: 500px) {
  .slider__arrow--left {
    left: 60px; } }

.slider__list {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px 90px;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  overflow: hidden; }
  @media (max-width: 1050px) {
    .slider__list {
      gap: 20px 40px; } }

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  gap: 27px;
  border-radius: 9px;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }
  .slider__item:hover {
    background-color: white; }
  .slider__item:hover .slider__item-btn {
    background-color: #fddcc4;
    border: 2px solid #fddcc4; }
  @media (max-width: 500px) {
    .slider__item {
      gap: 27px;
      margin-bottom: 77px; } }

.slider__item-img-container {
  width: 270px;
  height: 270px; }

.slider__item-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider__item-title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454; }

.slider__item-btn {
  align-self: center;
  border: 2px solid #f1cdb3;
  background: #fafafa;
  padding-bottom: 10px; }

.fade-out {
  transition: all 0.3s ease-in-out;
  opacity: 0; }

.fade-in {
  opacity: 1;
  transition: all 0.3s ease-in-out; }

.help__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px; }
  @media (max-width: 1000px) {
    .help__wrapper {
      max-width: 100vw;
      padding-left: 25px;
      padding-right: 25px;
      margin: 0;
      gap: 60px; } }
  @media (max-width: 500px) {
    .help__wrapper {
      padding: 43px 15px 42px;
      gap: 40px; } }

.help__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  padding: 0; }
  @media (max-width: 500px) {
    .help__title {
      font-size: 25px; } }

.help__list {
  display: flex;
  flex-wrap: wrap;
  gap: 57px 120px;
  padding: 0 67px;
  justify-content: center; }
  @media (max-width: 1000px) {
    .help__list {
      gap: 55px 60px;
      justify-content: space-between; } }
  @media (max-width: 500px) {
    .help__list {
      padding: 0;
      gap: 30px 0px; } }

.help__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 1000px) {
    .help__item {
      width: 130px;
      height: 113px; } }
  @media (max-width: 500px) {
    .help__item {
      width: 130px;
      height: 87px;
      gap: 10px;
      justify-content: space-between; } }

.help__item-img {
  width: 60px;
  height: 60px; }
  @media (max-width: 500px) {
    .help__item-img {
      width: 50px;
      height: 50px; } }

.help__item-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454; }
  @media (max-width: 1000px) {
    .help__item-text {
      white-space: nowrap; } }
  @media (max-width: 500px) {
    .help__item-text {
      font-size: 15px;
      line-height: 110%; } }

.donation {
  background-color: #f6f6f6; }

.donation__wrapper {
  padding: 80px 183px 100px 183px; }
  @media (max-width: 1000px) {
    .donation__wrapper {
      padding: 80px 194px 95px 194px; } }
  @media (max-width: 750px) {
    .donation__wrapper {
      padding: 42px 23px 40px 23px; } }

.donation__content--wrapper {
  display: flex;
  gap: 30px; }
  @media (max-width: 1000px) {
    .donation__content--wrapper {
      flex-direction: column;
      align-items: center;
      gap: 66px; } }
  @media (max-width: 500px) {
    .donation__content--wrapper {
      gap: 45px; } }

.donation__img {
  width: 505px;
  height: auto;
  object-fit: contain; }
  @media (max-width: 1000px) {
    .donation__img {
      order: 2; } }
  @media (max-width: 500px) {
    .donation__img {
      width: 80vw; } }

.donation-content {
  display: flex;
  gap: 20px;
  flex-direction: column; }
  @media (max-width: 1000px) {
    .donation-content {
      order: 1; } }
  @media (max-width: 500px) {
    .donation-content {
      align-items: center;
      align-items: flex-start; } }

.donation-content-title {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454; }
  @media (max-width: 500px) {
    .donation-content-title {
      font-size: 25px;
      text-align: center;
      align-self: center; } }

.donation-content-phone-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  margin-right: 28px;
  border-radius: 9px;
  background-color: #f1cdb3;
  cursor: pointer;
  transition: all 0.4s ease-in; }
  .donation-content-phone-container:hover {
    background-color: #fddcc4; }
  @media (max-width: 500px) {
    .donation-content-phone-container {
      margin: 0;
      padding: 7px 15px; } }

.donation-content-phone-img {
  width: 30px;
  height: 30px; }

.donation-content-phone-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454; }
  @media (max-width: 500px) {
    .donation-content-phone-text {
      font-size: 15px;
      line-height: 110%;
      text-wrap: nowrap; } }

.donation-content-info {
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454; }
  @media (max-width: 500px) {
    .donation-content-info {
      line-height: 160%;
      text-align: center;
      text-wrap: nowrap;
      font-size: 15px;
      letter-spacing: 0.15px; } }

.donation-content-text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
  font-style: italic; }
  @media (max-width: 500px) {
    .donation-content-text {
      text-align: justify; } }

.catalog {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px; }
  @media (max-width: 1000px) {
    .catalog {
      padding-bottom: 70px; } }
  @media (max-width: 500px) {
    .catalog {
      padding-top: 40px;
      padding-bottom: 45px; } }

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px; }

.catalog__title {
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454; }
  @media (max-width: 500px) {
    .catalog__title {
      font-size: 25px;
      letter-spacing: 1.25px;
      margin-bottom: 45px; } }

.catalog__list {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0 0;
  gap: 30px 40px;
  flex-wrap: wrap;
  z-index: 1;
  transition: all 0.5s ease;
  opacity: 1; }
  @media (max-width: 1000px) {
    .catalog__list {
      padding: 30px 64px 0 64px;
      justify-content: center; } }
  @media (max-width: 1000px) and (max-width: 500px) {
    .catalog__list {
      padding: 0;
      margin-bottom: 40px; } }

.catalog__list.hidden {
  opacity: 0;
  transform: translateY(10px); }

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  gap: 28px;
  border-radius: 9px;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center; }
  .catalog__item:hover {
    background-color: white; }
  .catalog__item:hover .catalog__item-btn {
    background-color: #fddcc4;
    border: 2px solid #fddcc4; }
  @media (max-width: 500px) {
    .catalog__item {
      gap: 27px; } }

.catalog__item-img-container {
  max-width: 270px;
  height: auto;
  object-fit: cover; }

.catalog__item-title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454; }

.catalog__item-btn {
  align-self: center;
  border: 2px solid #f1cdb3;
  background: #fafafa;
  padding-bottom: 10px; }

.catalog__pagination {
  padding-top: 60px;
  display: flex;
  gap: 20px; }
  @media (max-width: 1000px) {
    .catalog__pagination {
      padding-top: 45px; } }
  @media (max-width: 500px) {
    .catalog__pagination {
      gap: 10px;
      padding-top: 6px; } }

.catalog__pagination-item {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in; }
  .catalog__pagination-item:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4; }
  .catalog__pagination-item:active {
    background-color: #f1cdb3; }

.catalog__pagination-item--inactive {
  border: 2px solid #cdcdcd;
  color: #cdcdcd;
  cursor: not-allowed; }
  .catalog__pagination-item--inactive:hover {
    background-color: #f6f6f6;
    border: 2px solid #cdcdcd; }

.catalog__pagination-item--number {
  background-color: #f1cdb3; }

.modal {
  width: 900px;
  height: 500px;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
  grid-template-columns: 1fr 1fr;
  color: #000; }
  @media (max-width: 950px) {
    .modal {
      width: 630px;
      height: auto; } }
  @media (max-width: 600px) {
    .modal {
      grid-template-columns: 1fr;
      width: 240px;
      padding: 10px; } }

.modal__img-container {
  border-radius: 9px; }
  @media (max-width: 600px) {
    .modal__img-container {
      display: none; } }

.modal__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  height: 100%; }

.modal__info {
  padding-top: 50px;
  padding-right: 19px;
  padding-left: 30px; }
  @media (max-width: 950px) {
    .modal__info {
      padding-top: 10px;
      padding-left: 45px; } }
  @media (max-width: 600px) {
    .modal__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0; } }

.modal__name {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }

.modal__type-container {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 8px; }

.modal__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 40px; }
  @media (max-width: 950px) {
    .modal__description {
      font-size: 13px;
      line-height: 110%;
      padding-top: 25px; } }
  @media (max-width: 600px) {
    .modal__description {
      padding-top: 21px; } }

.modal__info-list {
  font-weight: 700;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.12em;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 15px;
  padding-bottom: 70px;
  list-style-type: disc; }
  @media (max-width: 950px) {
    .modal__info-list {
      padding-top: 15px;
      gap: 8px;
      padding-bottom: 32px; } }
  @media (max-width: 600px) {
    .modal__info-list {
      padding-top: 22px;
      align-self: flex-start;
      gap: 7px;
      padding-bottom: 0; } }

.modal__info-item::marker {
  color: #f1cdb3; }

.modal__info-item-text {
  font-weight: 400;
  letter-spacing: 0.1em; }

.modal__close {
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  position: absolute;
  top: -52px;
  right: -52px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  @media (max-width: 730px) {
    .modal__close {
      right: 0; } }
  @media (max-width: 600px) {
    .modal__close {
      right: -52px; } }
  @media (max-width: 340px) {
    .modal__close {
      right: -26px; } }

.modal__close:hover {
  background-color: #f1cdb3; }
