@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/arial/arial-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/georgia/georgia-regular.ttf') format('truetype');
}
