html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.page__body--hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
