//Size

$desktop-width: 1280px;
$tablet-width: 768px;
$mobile-width-only: 380px;

//Color

$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-dark-l: #545454;

//Mixin

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin line {
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: $color-primary;
    transition-property: width, opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    opacity: 0;

    @media (max-width: 767px) {
      bottom: -10px;
    }
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
    width: 100%;
    left: 50%;
  }
}
